// Tablets
@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .gallery-item {
        flex: 1 1 100%;
    }
}

// Smartphones
@media (max-width: 576px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}
