@use '../base/variables' as vars;

.header {
    background-color: vars.$secondary-bg;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    backdrop-filter: blur(5px);

    .logo img {
        height: 50px;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 20px;

        li a {
            text-decoration: none;
            color: vars.$text-color;
            font-weight: bold;
        }
    }
}
